<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="head" id="head">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Untree.co">
<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/4228/4228420.png">

<meta name="description" content="" />
<meta name="keywords" content="bootstrap, bootstrap5" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="/fonts/icomoon/style.css">
<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

<link rel="stylesheet" href="/css/tiny-slider.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/style.css">

<!-- Primary Meta Tags -->
<title>Timecapsule</title>
<meta name="title" content="Timecapsule">
<meta name="description" content="이제 온라인에서도 타임캡슐을 묻을 수 있습니다. 추억을 묻어보세요.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.timecapsule.jootang2.com/">
<meta property="og:title" content="Timecapsule">
<meta property="og:description" content="이제 온라인에서도 타임캡슐을 묻을 수 있습니다. 추억을 묻어보세요.">
<meta property="og:image" content="https://timecapsulejoohwansongilikeapple.s3.ap-northeast-2.amazonaws.com/openGraph.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://www.timecapsule.jootang2.com/">
<meta property="twitter:title" content="Timecapsule">
<meta property="twitter:description" content="이제 온라인에서도 타임캡슐을 묻을 수 있습니다. 추억을 묻어보세요.">
<meta property="twitter:image" content="https://timecapsulejoohwansongilikeapple.s3.ap-northeast-2.amazonaws.com/openGraph.png">

<title>타임캡슐</title>