<head th:replace="layout/head.html :: head"></head>

<div th:replace="layout/header.html :: header"></div>

<body>
<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_1.jpg');">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Sign Up</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item "><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">Sign Up</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="contact-info">

                    <div class="open-hours mt-4">
                        <i class="icon-clock-o"></i>
                        <h4 class="mb-2">Open Hours:</h4>
                        <p>
                            EveryDay:<br>
                            24h
                        </p>
                    </div>

                    <div class="email mt-4">
                        <i class="icon-envelope"></i>
                        <h4 class="mb-2">Email:</h4>
                        <p>timecapsule.jootang2@gmail.com</p>
                    </div>

                    <div class="phone mt-4">
                        <i class="icon-phone"></i>
                        <h4 class="mb-2">Call:</h4>
                        <p>카카오톡 ID : jootang2</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                <form th:action="@{/user/join}" th:object="${userDto}" method="post">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="name" class="form-label">사용자ID</label>
                            <input type="text" id="name" th:field="*{name}" class="form-control">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="email" class="form-label">이메일</label>
                            <input type="email" id="email" th:field="*{email}" class="form-control">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="password" class="form-label">비밀번호</label>
                            <input type="password" id="password" th:field="*{password}" class="form-control">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
                            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /.untree_co-section -->

<div th:replace="layout/footer.html :: footer"></div>
</body>
</html>
