<head th:replace="layout/head.html :: head"></head>

<div th:replace="layout/header.html :: header"></div>

<body>
<div class="hero page-inner overlay">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">마이페이지</h1>
            </div>
        </div>
    </div>
</div>


<div class="section bg-light">
    <div class="container">
        <div class="row">
            <h2 id="name" th:text="'ID : ' + ${user.name}"></h2>
            <h2 id="email" th:text="'Email : ' + ${user.email}" style="margin-bottom: 50px"></h2>
            <h2></h2>
            <h5>작성중인 캡슐</h5>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300"
                 th:each="i : ${#numbers.sequence(writingCapsuleList.size()-1, 0, -1)}"
                 th:with="capsule=${writingCapsuleList[i]}">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold" th:text="${capsule.capsuleTitle}"></h3>
                    <p class="text-black-50" th:text="${capsule.capsuleSummary}"></p>
                    <p><a th:href="@{/{capsuleId}/board/list (capsuleId = ${capsule.id})}" class="learn-more">타임캡슐
                        들어가기</a></p>
                    <p><a href="#" class="learn-more"
                          th:url="${capsule.id}"
                          onclick="window.open('/capsule/findPassword/'+ this.getAttribute('url'),'window_name','width=430,height=500,location=no,status=no,scrollbars=yes'); return false;">비밀번호
                        재설정</a></p>
                </div>
            </div>
            <h5>묻은 캡슐</h5>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300"
                 th:each="i : ${#numbers.sequence(storageCapsuleList.size()-1, 0, -1)}"
                 th:with="capsule=${storageCapsuleList[i]}">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold" th:text="${capsule.capsuleTitle}"></h3>
                    <p class="text-black-50" th:text="${capsule.capsuleSummary}"></p>
                </div>
            </div>
            <h5>완료된 캡슐</h5>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300"
                 th:each="i : ${#numbers.sequence(completeCapsuleList.size()-1, 0, -1)}"
                 th:with="capsule=${completeCapsuleList[i]}">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold" th:text="${capsule.capsuleTitle}"></h3>
                    <p class="text-black-50" th:text="${capsule.capsuleSummary}"></p>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="location.href='/user/modifyPassword'">비밀번호 재설정
            </button>
        </div>
    </div>
</div>

</div>

<div th:replace="layout/footer.html :: footer"></div>


</body>
</html>
